setuptools
tqdm
flask
keybert
sentence_transformers
ollama
llama_index
llama_cpp_python
faiss_cpu
unstructured
nltk
langchain
langchain_community
langchain_huggingface
langchain_ollama
langchain_openai
langgraph
ctransformers

